<!DOCTYPE html>
  <head>
    <title>Flickr Demo</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div> <!-- /container -->
  </body>
</html>
